/* -------------- MATCH ME -------------- */
/* .MatchMe {
  height: 80vh;
  width: 80vw;
  display: grid;
  place-items: center;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 9rem;
  height: 9rem;
  place-items: center;
  cursor: pointer;
  font-size: 3rem;
}

.side {

  pointer-events: none;
} */
