@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
/* font-family: "Rye", serif; */

@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: "Cutive Mono", monospace; */

.Concentration1 {
  margin-top: 2rem;
  font-size: 1.5em;
  /* background-color: rgba(79, 127, 120, 0.72); */
  width: 1300px;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cutive Mono", monospace;
  /* filter: invert(0.17); */
}
.card-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.3rem;
  height: 100%;
  /* width: 6rem; */
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  /* background-color: rgb(101, 82, 89); */
}
.card {
  background-color: rgb(111, 66, 66);
  height: 15rem;
  width: 10rem;
  font-size: 6rem;
  cursor: pointer;
  border: solid rgb(128, 54, 54) 4px;
}

/* //EMOJI SIDE // */
.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: default;
  font-size: 6rem;
  background-color: rgb(55, 21, 21);
  filter: invert(0.13);
}
.card-front-matched {
  display: flex;
  font-size: 6rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: rgb(144, 223, 223); */
  filter: invert(0.13);
  cursor: default;
}
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("../../images/cardback.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card-back:hover {
  background-color: rgb(128, 54, 54);
}
.game-data {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: rgb(55, 21, 21);
  padding: 0.3rem 1rem 0.3rem 1rem;
  border: solid rgb(128, 54, 54) 4px;
  cursor: default;
  color: rgb(239, 216, 216);
}
.shuffle-btn {
  background-color: rgb(94, 36, 36);
  /* border-radius: 3px; */
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Cutive Mono", monospace;
  display: inline-block;
  font-size: 1.5rem;
  border: rgb(158, 61, 61) 4px solid;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: rgb(239, 216, 216);
}
.shuffle-btn:hover {
  background-color: rgb(137, 87, 87);
  filter: invert(0.16);
}
