@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
/* font-family: "Rye", serif; */

.NoughtsAndCrosses {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 33%;
  width: 100%;
  /* border: 1px red solid; */
}
.Square {
  background-color: rgba(99, 99, 12, 0.506);
  height: 15rem;
  width: 15rem;
  cursor: pointer;
  /* border: blue solid 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: rgb(83, 83, 8);
  font-family: "Rye", serif;
}
.Square:hover {
  background-color: rgba(99, 99, 12, 0.18);
}
