@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
/* font-family: "Rye", serif; */

.NoughtsAndCrosses {
  height: 46rem;
  width: 48rem;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-auto-rows: auto;
  gap: 0.5rem;
}
.Square {
  background-color: rgba(99, 99, 12, 0.738);
  height: 15rem;
  width: 15rem;
  cursor: pointer;
  /* border: blue solid 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: rgb(47, 47, 5);
  font-family: "Rye", serif;
}
.Square:hover {
  background-color: rgba(99, 99, 12, 0.18);
}
