.NoughtsAndCrosses {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.board-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 33%;
  width: 100%;
  /* border: 1px red solid; */
}
.board-square {
  background-color: rgba(240, 248, 255, 0.519);
  height: 15rem;
  width: 15rem;
  cursor: pointer;
  /* border: blue solid 1px; */
}
.board-square:hover {
  background-color: rgba(0, 255, 153, 0.241);
}
/* .NoughtsAndCrosses button {
  c
} */
