@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: "Cutive Mono", monospace; */

.Home {
  height: 80vh;
  width: auto;
  display: flex;
  gap: 1rem;
  font-family: "Cutive Mono", monospace;
  padding: 0rem 0 20rem 4.5rem;
  margin-top: 14rem;
}
.Home img {
  margin: 4rem 0 4rem 0;
  border: 0.5rem solid #7f805b;
}
.icon-cont {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.icon {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
  height: 5rem;
  filter: invert(1);
}
.icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  text-decoration: none;
  color: transparent;
}
.icon a:hover {
  color: black;
  font-size: 1.5rem;
}
.icon-img {
  height: 4rem;
  min-width: 4rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.icon p {
  width: 4rem;
  padding-left: 1rem;
}
