.memory-card {
  height: 14rem;
  width: 10rem;
  margin: 0.5rem;
  cursor: pointer;
}
.faceDown {
  background-position: center;
  background-repeat: no-repeat;
  height: 14rem;
  width: 10rem;
  border-radius: 10px;
  border: solid rgb(45, 45, 146) 4px;
}
.faceUp {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 14rem;
  width: 10rem;
  border-radius: 10px;
  border: solid rgba(43, 43, 160, 0) 4px;
  pointer-events: none;
}
