@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: "Cutive Mono", monospace; */

.NavBar {
  margin: 0;
  padding: 0.5rem 0 0.5rem 0;
  max-height: 3rem;
  min-height: 3rem;
  font-family: "Cutive Mono", monospace;
  font-size: 1.7em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  background-color: rgb(53, 59, 37);
  border-bottom: 1px white solid;
  box-shadow: 0px 0px 40px 40px #000000;
}
.NavBar ul {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.link {
  text-decoration: none;
  text-shadow: white 0px 0 10px;
  color: white;
  padding: 0 0.4rem 0 0.4rem;
}
.link:hover {
  color: black;
  text-shadow: white 0px 0 10px;
}
.select-link {
  text-decoration: none;
  text-shadow: white 0px 0 10px;
  color: rgba(255, 255, 255, 0.552);
  padding: 0 0.4rem 0 0.4rem;
  pointer-events: none;
}
.games-link-cont {
  display: flex;
  gap: 2rem;
  /* background-color: black; */
}
.games-link {
  text-decoration: none;
  padding: 0 0.4rem 0 0.4rem;
  text-shadow: white 0px 0 10px;
  color: white;
  cursor: pointer;
}

.games-link:hover {
  color: black;
  cursor: pointer;
  text-shadow: white 0px 0 10px;
}
/* .NavBar a {
  text-decoration: none;
  color: black;
  font-size: 80%;
  white-space: nowrap;
}
.link.active {
  text-shadow: #948b7f 1px 0 10px;
  text-decoration: none;
  color: black;
  font-size: 80%;
  white-space: nowrap;
}
.link:hover {
  text-shadow: #6e6a56 1px 0 10px;
  text-decoration: none;
  color: black;
  font-size: 80%;
  white-space: nowrap;
}
.games-link {
  color: blue;
} */
