@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: "Cutive Mono", monospace; */

.NavBar {
  margin: 0;
  padding: 0.5rem 0 0.5rem 0;
  max-height: 3rem;
  min-height: 3rem;
  font-family: "Cutive Mono", monospace;
  font-size: 1.7em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  background-color: rgb(255, 255, 255);
}
.NavBar ul {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.NavBar a {
  text-decoration: none;
  color: black;
  font-size: 80%;
  white-space: nowrap;
}
.NavBar li.active {
  text-shadow: #948b7f 1px 0 10px;
}
.NavBar li:hover {
  text-shadow: #6e6a56 1px 0 10px;
}
