@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: "Cutive Mono", monospace; */

.NavBar {
  margin: 0;
  padding-top: 0.5rem;
  height: 100%;
  font-family: "Cutive Mono", monospace;
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
}
.NavBar ul {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.NavBar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.NavBar li.active {
  text-shadow: #6e6a56 1px 0 10px;
}
.NavBar li:hover {
  text-shadow: #ffbe6e 1px 0 10px;
}
