.Home {
  margin: 0;
  height: 100vh;
}
.stripe {
  background-color: #efe9db;
  margin-left: 14rem;
  height: 100vh;
  width: 30%;
  position: fixed;
  z-index: -1;
  padding-top: 7%;
}
.stripe-image {
  background-image: url("./images/evbDev.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.displayRoutes-navbar {
  height: 7vh;
}
.displayRoutes-components {
  height: 92vh;
  /* border: red solid 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
