/* -------------- NOUGHTS AND CROSSES -------------- */
/* font for square's X's and O's */
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
/* font-family: "Rye", serif; */

/* font for score data */
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: "Cutive Mono", monospace; */

.tic-tac-toe {
  height: 50rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.board-cont {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.board {
  height: 40rem;
  width: 40rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
}
.cell-empty {
  height: 32%;
  background-color: rgba(93, 93, 76, 0.148);
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  cursor: pointer;
}
.cell-empty:hover {
  background-color: rgba(93, 93, 76, 0.408);
}
.cell-full {
  font-family: "Rye", serif;
  height: 32%;
  width: 32%;
  padding-top: 3px;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.845);
  font-size: 5.5rem;
}
.O-cell {
  background-color: rgba(205, 185, 156, 0.414);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.X-cell {
  background-color: rgba(215, 215, 188, 0.414);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.game-info {
  height: 70%;
  width: 100%;
  font-family: "Cutive Mono", monospace;
  font-size: 1.5rem;
  text-align: center;
}
