.crossword {
  /* background-color: red; */
  min-height: 80rem;
  min-width: 77em;
  margin: 33rem 0 7rem 0;
  position: absolute;
}
.crossword-cont {
  display: flex;
  justify-content: center;
  min-height: 43rem;
  max-height: fit-content;
  align-items: center;
  background-color: #7a6b1e;
  display: flex;
  flex-direction: column;
  border: black solid 1px;
}
.puzzle-grid {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(14, 1fr);
  grid-column-gap: 1.5px;
  grid-row-gap: 1.5px;
}
.box {
  height: 3rem;
  width: 3rem;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.black {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.letter {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.txt {
  font-size: 1.5rem;
}
.corner-num {
  /* color: red; */
  height: 20px;
  width: 20px;
  border-right: black 0.3px solid;
  border-bottom: black 0.3px solid;
  text-align: center;
}
.questions {
  /* height: 9rem; */
  display: flex;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
  /* background-color: azure; */
  font-size: 1.5rem;
}
.column {
  border: solid black 1px;
  width: 22.5rem;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 0;
}
